<%= error_messages_for(f.object) %>
<table summary="Employee form field" class= "employee-form">
      <tr>
        <th>First Name</th>
        <td id="fn"><%= f.text_field(:first_name) %></td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td><%= f.text_field(:last_name) %></td>
      </tr>
      <tr>
        <th>Date of Birth</th>
        <td><%= f.text_field(:DOB) %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= f.text_field(:email) %></td>
      </tr>
      <tr>
        <th>Phone</th>
        <td><%= f.text_field(:phone) %></td>
      </tr>
      <tr>
        <th>Address</th>
        <td><%= f.text_field(:address) %></td>
      </tr>
       <tr>
        <th>Grade</th>
        <td><%= f.number_field(:grade_id) %></td>
      </tr>
    </table>