<% @view_title = "All Employees" %>


<div class="employee index">
  <h2>Employees</h2>

  <%= image_tag('plus_sign.png', :size => '11x11', :alt => '+') %>
  <%= link_to("Add New Employee", new_employee_path, :class => 'action new') %>

  <table class="listing" summary="employee list">
    <tr class="header">
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Actions</th>

    </tr>
    <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.id %></td>
      <td><%= employee.last_name.upcase + ", " + employee.first_name %></td>
      <td><%= employee.email %></td>
      <td><%= employee.phone %></td>
      <td><%= employee.address %></td>
      
      <td class="actions">
        <%= link_to("Profile", employee_path(employee), :class => 'action show') %>
        <%= link_to("Update", edit_employee_path(employee), :class => 'action edit') %>
        <%= link_to("Delete", delete_employee_path(employee), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
