<%= link_to  ">>add wage<<", new_wage_path %>

<h1>Salaries</h1>
<table>
  <tr>
    <th>Date</th>
    <th>Worker</th>
    <th>Work Done</th>
    <th>Action</th>
  </tr>
 
  <% @wages.each do |wage| %>
    <tr>
      <td><%= wage.date %></td>
      <td><%= wage.worker %></td>
      <td><%= wage.asset_type %></td>
      <td><%= link_to 'Profile', wage_path(wage) %></td>
       <td><%= link_to  "Edit", edit_wage_path(wage) %></td>
       <td> <%= link_to  "Delete", wage_path(wage), 
                method: :delete,
                data: {confirm: "Are you sure?"} %>
                </td>
    </tr>
  <% end %>
</table>
