


<%= link_to("Home", home_index_path, :class => 'back-link') %>
<div class="employee index">
  <h2>New Applicants </h2>

  

  <table class="listing" summary="employee list">
    <tr class="header">
      
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Actions</th>

    </tr>
    <% @applicants.each do |applicant| %>
    <tr>
      <td><%= applicant.last_name.upcase + ", " + applicant.first_name %></td>
      <td><%= applicant.email %></td>
      <td><%= applicant.phone %></td>
      <td><%= applicant.address %></td>
      
      <td class="actions">
        <%= link_to("Profile", applicant_path(applicant), :class => 'action show') %>
       
      </td>
    </tr>
    <% end %>
  </table>
</div>
