<%= error_messages_for(f.object) %>


<%= link_to("<< All Applicants", applicants_path, :class => 'back-link') %>

<div class="applicants new">
  <h2>Start a New Application</h2>

  <%= form_for @applicant do |f| %>

    <table summary="Employee form field">
      <tr>
        <th>First Name</th>
        <td><%= f.text_field(:first_name) %></td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td><%= f.text_field(:last_name) %></td>
      </tr>
      <tr>
        <th>Date of Birth</th>
        <td><%= f.text_field(:DOB) %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= f.text_field(:email) %></td>
      </tr>
      <tr>
        <th>Phone</th>
        <td><%= f.text_field(:phone) %></td>
      </tr>
      <tr>
        <th>Address</th>
        <td><%= f.text_field(:address) %></td>
      </tr>
      
    </table>

    <%= f.label "White Card" %>
    <%= f.file_field :white_card %><br>

    <div class="form-buttons">
      <%= f.submit("Submit") %>
    </div>

  <% end %>
</div>