
<%= error_messages_for(f.object) %>

<table summary="Asset form field">
      <tr>
        <th>Asset Code</th>
        <td><%= f.text_field(:asset_code) %></td>
      </tr>
      <tr>
        <th>Address</th>
        <td><%= f.text_field(:address) %></td>
      </tr>
      <tr>
        <th>Page on Contruction Plan</th>
        <td><%= f.text_field(:cp_page) %></td>
      </tr>
      <tr>
        <th>Asset Type</th>
        <td><%= f.text_field(:asset_type) %></td>
      </tr>
      <tr>
        <th>Pit ID</th>
        <td><%= f.text_field(:pit_id) %></td>
      </tr>
      <tr>
        <th>Status</th>
        <td><%= f.select(:status,  [["incomplete"], ["complete"], ["defect"], ["paid"]]) %></td>
      </tr>
    </table>