

<div class="assets index">
  <h2>Assets</h2>

  <%= image_tag('plus_sign.png', :size => '11x11', :alt => '+') %>
  <%= link_to("Add New Asset", new_asset_path, :class => 'action new') %>

  <table class="listing" summary="Subject list">
    <tr class="header">
      <th>Asset Code</th>
      <th>Address</th>
      <th>CP Page</th>
      <th>Asset Type</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <% @assets.each do |asset| %>
    <tr>
      <td><%= asset.asset_code %></td>
      <td><%= asset.address %></td>
      <td><%= asset.cp_page %></td>
      <td><%= asset.asset_type %></td>
      <td><%= asset.status %></td>
      <td class="actions">
        <%= link_to("View", asset_path(asset), :class => 'action show') %>
        <%= link_to("Edit", edit_asset_path(asset), :class => 'action edit') %>
        <%= link_to("Delete", delete_asset_path(asset), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
