

<div class="assets index">
  <h2>Assets</h2>
  <%= form_with(url: "/assets", method: "post") do %>
  Search Assets: <input type="search" name="search"><br>
  <input type="submit" value="search">
  <% end %>

  <%= image_tag('plus_sign.png', :size => '11x11', :alt => '+') %>
  <%= link_to("Add New Asset", new_asset_path, :class => 'action new') %><br>

  <%= link_to("Greet", "#", :onclick => 'hello("ridwan"); return true;') %>

  <table class="listing" summary="Subject list">
    <tr class="header">
      <th>" "</th>
      <th>Asset Code</th>
      <th>Address</th>
      <th>CP Page</th>
      <th>Asset Type</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <% @assets.each do |asset| %>
    <tr>
      <td><%= asset.id %></td>
      <td><%= link_to(asset.asset_code, asset_path(asset), :class => 'action show') %></td>
      <td><%= asset.address %></td>
      <td><%= asset.cp_page %></td>
      <td><%= asset.asset_type %></td>
      <td><%= asset.status %></td>
      <td class="actions">
        <%= link_to("Edit", edit_asset_path(asset), :class => 'action edit') %>
        <%= link_to("Delete", delete_asset_path(asset), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
