<!DOCTYPE html>
<html>
    <head>
      <title>Reedy Projects: Home<%= " | #{@page_title}" if @page_title %></title>
      <%= stylesheet_link_tag('formView', :media => 'all') %>

    </head>
    
    <body>
        <div class="container">

            <header class="header">
              <h1>Reedy Projects</h1>
              <h3>Welcome: <%= @username %></h3>
            </header>

            <nav class="navigation">
            <ul>
                <li>
                   <%= link_to("Admin", admin_path) %>
                </li>
                <li>
                   <%= link_to("Employees", employees_path) %>
                </li>
                <li>
                    <%= link_to("Assets", assets_path, :class => 'action new') %>
                </li>
                <li>
                    <%= link_to("Apply", new_applicant_path, :class => 'back-link') %>
                </li>
                <li>
                    <%= link_to("Sign Up", new_user_path, :class => 'back-link') %>
                </li>
                <li>
                    <%= link_to("Sign In", access_login_path, :class => 'back-link') %>
                </li>

                <li>
                    <%= link_to("Sign Out", access_logout_path, :class => 'back-link') %>
                </li>

                <li>
                    <%= link_to("Salaries", new_wage_path, :class => 'back-link') %>
                </li>

                
            </ul>
          
                <%= render(:partial => 'layouts/navigation', :locals => { :subjects => @subjects} ) %>
            </nav>

            <article class="content">
                <%= yield %>
            </article>

            <footer class="footer">
              <p id="copyright">&copy;<%= Time.now.year %>Reedy Projects</p>
            
            
            </footer>

            <%
=begin%>
 <aside class="sidebar">
           
            </aside> 
<%
=end%>



            <%
=begin%>
 <aside class="photos slideshow-container">

                 <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <%= image_tag  "fibre14.jpg", :class => "img_preview" %>
                    <div class="text">Caption Text</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <%= image_tag  "fibre17.jpg", :class => "img_preview" %>
                    <div class="text">Caption Text</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">1 / 3</div>
                     <%= image_tag  "fibre.jpg", :class => "img_preview" %> 
                    <div class="text">Caption Text</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">2 / 3</div>
                    <%= image_tag "fibre1.jpg", :class => "img_preview" %>
                    <div class="text">Caption Text</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <%= image_tag  "fibre2.jpg", :class => "img_preview" %>
                    <div class="text">Caption Text</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <%= image_tag  "fibre3.jpg", :class => "img_preview" %>
                    <div class="text">Caption Text</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <%= image_tag  "fibre4.jpeg", :class => "img_preview" %>
                    <div class="text">Caption Text</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <%= image_tag  "fibre5.jpeg", :class => "img_preview" %>
                    <div class="text">Caption Text</div>
                </div>




                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a> <br>




            </aside>
            <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
            </div>

            

        </div>

        <script>


        var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}

</script> 
<%
=end%>
</div>
    </body>
</html>
