<!DOCTYPE html>
<html>
    <head>
      <title>Reedy Projects: Home<%= " | #{@page_title}" if @page_title %></title>
      <%= stylesheet_link_tag('formView', :media => 'all') %>

    </head>
    
    <body>
        <div class="container">

            <header class="header">
              <h1>Reedy Projects</h1>
              <h3>Welcome: <%= @username %></h3>
            </header>

            <nav class="navigation">
            <ul>
                <li>
                   <%= link_to("Admin", admin_path) %>
                </li>
                <li>
                   <%= link_to("Employees", employees_path) %>
                </li>
                <li>
                    <%= link_to("Assets", assets_path, :class => 'action new') %>
                </li>
                <li>
                    <%= link_to("Apply", new_applicant_path, :class => 'back-link') %>
                </li>
                <li>
                    <%= link_to("Sign Up", new_user_path, :class => 'back-link') %>
                </li>
                <li>
                    <%= link_to("Sign In", access_login_path, :class => 'back-link') %>
                </li>

                <li>
                    <%= link_to("Sign Out", access_logout_path, :class => 'back-link') %>
                </li>

                <li>
                    <%= link_to("Salaries", new_wage_path, :class => 'back-link') %>
                </li>

                
            </ul>
          
                <%= render(:partial => 'layouts/navigation', :locals => { :subjects => @subjects} ) %>
            </nav>

            <article class="content">
                <%= yield %>
            </article>

            <footer class="footer">
              <p id="copyright">&copy;<%= Time.now.year %>Reedy Projects</p>
            
            
            </footer>

</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>

<script>
  
$(function() {
    "use strict";

    console.log('now we are fucking ready');

$("#next-view").click(function() {
alert("hooray, <%= @username %>  the click worked!");

})
    

var formz = $('[summary = "wages form field"]')
alert(formz.length)














    <%
=begin%>
 var $welcomeUsername = $('#welcome-username');

    $welcomeUsername.css('background', "black")
                     .css("display", "inline-block")
                     .animate({width : "+=300px", height : "+=300px"}, 2000)
                     .fadeOut()
                     .fadeIn("slow")
                     .animate({width : "-=300px", height : "-=300px"}, 2000)
                     .animate({ height : "+=300px"}, 3000)
                     .animate({width : "+=300px"}, 2000);


    var $empFormField = $("table.employee-form td");
    if ($empFormField.val()) {
    $empFormField.css("color", "yellow");

    
  
    }



$("#fn").click(function(){ alert("this is a required field bitch!")
}) 
<%
=end%>
    
})

  </script>

</body>
</html>
