<!DOCTYPE html>
<html>
    <head>
      <title>Reedy Projects: Home<%= " | #{@page_title}" if @page_title %></title>
      <%= stylesheet_link_tag('application', :media => 'all') %>
    </head>
    
    <body>
        <div class="container">

            <header id="header">
              <h1>Reedy Projects</h1>
            </header>

            <nav class="navigation">
            <ul>
                <li>
                   <%= link_to("Admin", admin_path) %>
                </li>
                <li>
                   <%= link_to("Employees", employees_path) %>
                </li>
                <li>
                    <%= link_to("Assets", assets_path, :class => 'action new') %>
                </li>
                <li>
                    <%= link_to("Apply", new_applicant_path, :class => 'back-link') %>
                </li>
                <li>
                    <%= link_to("Sign Up", new_user_path, :class => 'back-link') %>
                </li>
                <li>
                    <%= link_to("Sign In", "#", :class => 'back-link') %>
                </li>
            </ul>
          
                <%= render(:partial => 'layouts/navigation', :locals => { :subjects => @subjects} ) %>
            </nav>

            <aside id="sidebar">
            </aside>

            <article>
                <%= yield %>
            </article>
             

            <footer id="footer">
              <p id="copyright">&copy;<%= Time.now.year %>Reedy Projects</p>
            </footer>
        </div>
    </body>
</html>
